:root {
  --primary-blue: #12a2db;
  --primary-yellow: #e5c409;
}

.light {
  --bg-color: #dbdbdb;
  --tile-color: #fff;
  --primary-font-color: #000;
}

.dark {
  --bg-color: #002e4d;
  --tile-color: #003b62;
  --primary-font-color: #fff;
}

html, body {
  min-height: 100vh;
}

/* Layout */
body > .container {
  display: grid;
  grid-template-columns: 1fr 5fr;  
  gap: 15px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

.sidebar {
  padding: 10px;
  min-width: 150px;
  
  background-color: lightcoral;
}

header {
  padding: 10px;
  grid-column: 2 / -1;

  background: lightblue;
}

.content {
  display: grid;
  grid-template-rows: 150px 5fr;
}

main {
  display: grid;
  grid-template-columns: 3fr minmax(250px, auto);
  grid-template-rows: 1fr;
  gap: 10px;
  padding-bottom: 15px;
}

main .projects .container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main .projects .card {
  padding: 100px 0;
}

main .sub-portals {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}