/* 
  Color
  ======
*/
.content header {
  background-color: var(--tile-color);
}

.content .projects .card {
  background-color: var(--tile-color);
}

.sub-portals .twin > .container {
  background-color: var(--tile-color);
}

/* 
  General 
  ========
*/
header, .card, .twin > .container {
  box-shadow: 0px 1px 4px var(--box-shadow-color);
}

.content {
  gap: 15px;
}

.content .projects .card {
  border-left: 8px solid var(--primary-yellow);
  border-radius: 5px;
}

.sub-portals .twin {
  display: flex;
  flex-direction: column;
}

.sub-portals .twin > .container {
  flex: 1;
  padding: 10px;
  min-width: min-content;

  border-radius: 5px;
}

/* 
  Header | Layout
  ================
*/
header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

header .profile-primary .container,
header .profile-secondary .container {
  display: flex;
}

/* 
  Header | General
  =================
*/
header .profile-pic {
  padding: 3px;
  
  background-color: var(--primary-yellow);
  border-radius: 50%;
}

header .profile-primary .profile-pic {
  height: 3.5em;
}

header .profile-secondary .profile-pic {
  height: 3em;
}