/* 
  Color
  ======
*/
.content header {
  background-color: var(--tile-color);
}

.content .projects .card {
  background-color: var(--tile-color);
}

.sub-portals .twin > .container {
  background-color: var(--tile-color);
}

/* 
  General 
  ========
*/
.content {
  gap: 15px;
}

.projects {
  height: min-content;
}

.content .projects .card {
  border-left: 6px solid var(--primary-yellow);
  border-radius: 5px;
}

.sub-portals .twin {
  display: flex;
  flex-direction: column;
}

.sub-portals .twin > .container {
  flex: 1;

  border-radius: 5px;
}