main .sub-portals .twin {
  max-width: 300px;
}

main .sub-portals .twin .container {
  padding: 30px;
}

main .sub-portals .twin .wrapper {
  padding: 10px 0;
}

main .sub-portals .announcements .wrapper {
  border-bottom: 1px solid #909090;
}

main .sub-portals .announcements .wrapper:last-of-type {
  border-bottom: none;
}

main .sub-portals .announcements h4 {
  padding: 0 5px;
}

main .sub-portals .announcements .desc {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 5px;

  color: #909090;
  font-size: 0.9em;
  font-weight: 600;
} 
