nav.sidebar {
  background: var(--primary-blue);
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 25px;
}

.sidebar .logo {
  width: 100%;
}

.sidebar .logo span {
  font-size: 1.8rem;
}

.sidebar .logo .icon {
  font-size: 10px;
  display: grid;
  grid-template: 
    "top-left top-right"
    "top-left bottom-right"
    "bottom-left bottom-right"
  ;
  gap: 3px;
  height: 3em;
  width: 3em;

  background-color: var(--primary-blue);
}

.sidebar .logo .icon > * {
  background: #fff;
}

.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}

.sidebar > .logo {
  display: flex;
  gap: 10px;
  align-items: center;

}

.menu {
  width: 100%;
}

.menu .container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.menu .wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.menu span {
  font-size: 0.8em;
  font-weight: 600;
}

.menu .wrapper img {
  height: 1.1em;
}
